* {
    font-family: 'Roboto', sans-serif;
    line-height: 75px;
}

h1{
	border-bottom: solid #B1B1B1 1px;
	font-size: 36px;
	line-height: 36px;
}

div{
	width: 80vw;/*vh= viewheight*/
	margin: 0 auto;
}

footer{
	background-color: #def6ed;
	border-radius:4px;
}
h3{
	font-size: 32px;
	line-height: 32px;
}

li{
	font-size: 20px;
	line-height: 26px;
}


ul{
	line-height: 10px;
}

ol{
	line-height: 20px;
}

img{
	line-height: 25px;
}
nav{
	text-align: center;

}

a{
	color: black;
	background: #def6ed;
}

a:hover{
	color: red;
	background-color: black;
}
.huis{
	width: 35px;
	height: 35px;
}
.p1{
	font-size: 24px;
	line-height: 32px;
}
.t{
	font-family: 'Roboto', sans-serif;
	line-height: 32px;

}